<!--Discharge Patient room info  -->


{% extends "main/subhome2.html" %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container my-3">
	{% for x in rd %}
	<div class="no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
	<p>	
		<strong>Patient ID   :  </strong>{{x.pid}}<br>
		<strong>Room No   :  </strong>{{x.room_no}}<br>
		<strong>Date Of Admission   :  </strong>{{x.date_of_admn}}<br>
		
	</p>	
	</div>
	{% endfor %}
	<br><br>
    <form method="get" action="{% url 'main:RoomCancel' %}? rno" class="d-flex">
        Confirm Room No:<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="rno" id="rno">
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
</div>
	




{% endblock %}